#btn1{
    padding: 10px;
    border-radius: 30px;
    background-color: limegreen;
}
#btn2{
    padding: 10px;
    border-radius: 30px;
    background-color: limegreen;
}

img{
    width:958px;
    width:578px;
}

.wrapper{
    margin-left: 100px;
}